* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
  }

h1 {
    color: crimson;
    font-size: 48px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    color: #424242;
    margin-bottom: 10px;
}
.container{
    width: 960px;
    margin: auto;
    padding-top: 40px;
    position: relative;
}

.button{
    display: flex;
    width: 200px;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: crimson;
    color: darkgrey;
    text-transform: uppercase;
    font-weight: 600;
}
.box{
    display: flex;
    justify-content: center;
}
.filter{
    position: fixed;
    background-color: rgba(40, 40, 40, 0.8);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.hidden{
    display: none;
}

.modal-window{
    position: fixed;
    top: calc(20%);
    left: calc(50% - 150px);
    width: 300px;
    background-color: darkgrey;
    border: 1px solid black;
    color: darkred;
    z-index: 100;
    padding: 20px;
}

.modal-window__content{
    display: flex;
    flex-direction: column;
}